.cart-text {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.search-input {
  input {
    padding: 0.9rem 1rem;
  }
}
.damage-container {
  .damage-table {
    .td-textarea{
      .MuiOutlinedInput-multiline {
        padding: 4px 10px;
      }
    }
  }
}
@media (min-width: 992px) {
  .aside-enabled .header.header-fixed {
    left: 50px;
    right: 50px;
    top: 10px;
  }
  .aside-fixed .wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 700px) {
  .container {
    padding: 0px 1px;
    margin-top: -14px;
  }
  .container .internalRow {
    margin-right: 0px;
    margin-left: 0px;
  }

  .container .internalRow .internalCol-md-6 {
    padding-right: 3px;
    padding-left: 3px;
  }
  .cardMobile {
    padding: 10px;
  }

  .cardMobile .card-title {
    // margin-top: 2px;
    // margin-left: 10px;
    // margin-bottom: 2px;
    font-size: 17px !important;
    margin: 5px 0;
    font-weight: 600;
  }

  .cardMobile .search-button-div button {
    padding: 0;
    margin: 0;
    border-color: transparent;
    background-color: #3783e7;
    height: 32px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cardMobile .search-button-div .svg-width-100 {
    width: 23px;
    height: auto;
    margin: 0;
    color: #ffffff !important;
  }

  .gate-move .cardMobile {
    // padding-top: 10px;
    // padding-bottom: 10px;
    // padding-left: 0px;
    // padding-right: 5px;
    padding: 10px 5px;
  }

  .cardMobile .loadType {
    padding-right: 0px;
    // padding-left: 2.5px;
    padding-left: 0;
  }

  .gate-move .cardMobile .button-search {
    padding-right: 0px;
    padding-left: 0px;
    margin: 0 auto;
    text-align: center;
  }

  .gate-move .cardMobile .input-number .MuiOutlinedInput-input {
    padding: 0px 14px;
  }

  .damage-container .add-icon {
    width: 28px;
    height: auto;
  }

  .damage-container .damage-table .td-textarea .damage-textarea {
    margin: 0px;
  }

  .damage-container .damage-table .td-textarea .damage-textarea div {
    padding: 0px;
    height: 100%;
  }
  .input-paddingRemove div {
    min-height: 38px;
  }
  .input-paddingRemove input {
    padding: 0px;
    height: 100%;
    padding-left: 5px;
  }

  .module-access .access-box {
    min-height: 100px;
    position: relative;
  }
  .module-access .access-box .access-label {
    z-index: 9999;
    top: -10px;
    position: absolute;
    left: 15px;
    background-color: #fff;
    font-size: 13px;
    width: 26%;
    padding-left: 5px;
  }

  .module-access .access-box label.checkbox {
    width: 100px;
  }

  .module-access .access-box label.checkbox span {
    margin-left: 88px;
  }

  .editUser-modal .h2 {
    margin-bottom: 0px;
    padding: 10px 0 7px 14px;
  }

  .editUser-modal .module-access.modal-body {
    padding-top: 0;
    padding-bottom: 4px;
  }

  .location-update .loadType h3 {
    font-size: calc(1.1rem + 0.2vw);
    margin: 6px 0;
  }

  .location-update .loadType {
    width: 35%;
  }

  .location-update .input-number {
    width: calc(45% - 16px);
    padding: 0px;
  }

  .location-update .input-number .makeStyles-textField-2 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .location-update .input-number .MuiInputBase-formControl {
    width: 122%;
  }
  .location-update .button-search {
    width: 20%;
    padding: 0px;
  }
  .location-update .search-button-div {
    margin: 8px 0 0 22px;
  }

  .brand-logo {
    max-width: 164px;
    height: 40px;
  }
  .brand-logo img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .header-mobile-fixed .header-mobile {
    height: 46px;
    min-height: 46px;
  }
  .operation-card {
    min-height: 50px;
    margin: 0 auto;
  }
  .operation-card .card-body {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .operation-card .card-body .card-title {
    margin: 0;
    max-width: 100%;
    text-align: center;
  }
  .top-btn-spacing {
    margin-top: 4rem !important;
  }
  .back-btn {
    background-color: #000000 !important;
    border-color: #000000 !important;
  }
  .topbar-mobile-on .topbar {
    margin-top: 46px;
  }
  .search-icon {
    padding: 0;
    background-color: #3699ff;
    margin-left: 2px;
  }
  .search-icon svg {
    font-size: 3rem;
    border-radius: 0.42rem;
    color: #fff;
  }
  .login-form .MuiOutlinedInput-notchedOutline {
    border-width: 0px !important;
  }
  .table thead th,
  .table thead td {
    background-color: #6993ff;
    color: white;
  }
}
