@font-face {
    font-family: 'Varela Round';
    src: url('./../../font/VarelaRound-Regular.eot');
    src: url('./../../font/VarelaRound-Regular.eot') format('embedded-opentype'),
        url('./../../font/VarelaRound-Regular.woff2') format('woff2'),
        url('./../../font/VarelaRound-Regular.woff') format('woff'),
        url('./../../font/VarelaRound-Regular.svg#VarelaRound-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}